.quiz-card {
    margin: 0 3rem 2rem 3rem;
    width: 80%;
}

h1 {
    margin-left: 3rem;
    margin-top: 1rem;
}

h2 {
    margin: 1rem 3rem;
    text-align: center; /* not working */
}

.plus-container {
    width: 25%;
    float: right;
}

.divider {
    width: 17rem;
    height: .4rem;
    margin-left: 3rem;
}