.quiz-card {
    margin: 0 3rem 2rem 3rem;
    width: 80%;
}

h1 {
    margin-left: 3rem;
    margin-top: 1rem;
}

h2 {
    margin: 1rem 3rem;
    text-align: center; /* not working */
}

.plus-container {
    width: 30%;
    float: right;
    cursor: pointer;
    text-align: center;
}

.plus-container:hover {
    background-color: hsl(0, 0%, 94%);
}

.divider {
    width: 17rem;
    height: .4rem;
    margin-left: 3rem;
}

.card-title {
    margin-bottom: .75rem;
    padding: 0;
    font-size: 1.5rem !important;
}

#id-container{
    margin: 0 3rem 2rem 3rem;
    padding: 0;
    width: 80%;
}

#id-container input[type="text"]{
    width: 100%;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 12.5%);
}

.askSignin {
    font-size: 1.25rem;
}