.signup-card {
  /* height: 100%; */
  width: 100%;
  margin-top: 4rem;
}

.header-container{
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.signup-card h1 {
  font-size: 2rem;
}

.input-block, .text-block{
  padding: 0 5% 2.5% 5%;
  margin: 0 5% 2.5% 5%;
}

.input-block input {
  border-radius: 0;
  border: 1px solid gray;
  padding: .5rem;
  width: 100%;
}

.submit, .cancel {
  width: 30%;
  padding: .5rem 1rem;
  margin-right: 5%;
  border-radius: .25rem;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}

.buttons {
  margin-top: 5%;
}

.email-taken, .email-invalid, .password-invalid {
  display: none;
}

.success-msg {
  width: 100%;
  padding: .25rem;
  font-size: 1rem;
  margin-top: 3rem;
  border: 1px solid gray;
  border-radius: .5rem;
}