.quizcard {
    border-radius: 5px;
    border-color: gray;
    padding: 1em 1.5em;
    margin-bottom: 4rem;
}

#blank-row {
    width: 100%;
    height: 3em;
}

#create-quiz-text {
    margin: .5em; 
}

#submit {
    background-color: #49cd32;
    border-color: #ffffff;
    border-width: 1px;
}

#cancel, #submit {
    float: left;
    width: 6em;
    margin-right: 5%;
}

.answer-choice {
    margin: .5em 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.answer-choice:hover {
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;
}

.question-text {
    margin-bottom: .5em;
}

label {
    margin: 0;
    padding: 0;
}

/* So click anywhere in the div selects
    the answer choice */
.label {
    width: 100%;
    height: 100%;
    padding: .5em;
}

.label:hover {
    cursor: pointer;
}