.quizcard {
    border-radius: 5px;
    border-color: gray;
    /* max-width: */
}

#blank-row {
    width: 100%;
    height: 3em;
}

#create-quiz-text {
    margin: .5em; 
}

.quizcard {
    padding: 1em 1.5em;
    margin-bottom: 4rem;
}

#submit {
    background-color: #49cd32;
    border-color: #ffffff;
    border-width: 1px;
}

#cancel, #submit {
    float: left;
    width: 6em;
    margin-right: 5%;
}

.answer-choice {
    margin: .5em 0;
    padding: .5em .5em 0 .5em;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.question-text {
    margin-bottom: .5em;
}